{% extends "simucredito/admin_base.html" %}
{% block admin_home %}{% url "simucredito:admin_menu" administrator.id %}{% endblock %}
{% block nombre_admin %}{{ administrator.nombres }} {{ administrator.apellidos }}{% endblock %}
{% block admin_id %}{% url "simucredito:logout_user" administrator.id %}{% endblock %}
{% block seccion %}Bienvenido {{ administrator.nombres }} {{ administrator.apellidos }}{% endblock %}
{% block lineas_credito %}{% url 'simucredito:lineas_credito' administrator.id %}{% endblock %}
{% block admin_credito%}{% url 'simucredito:admin_credito' administrator.id %}{% endblock %}

{% block content %}
<p>Bienvenido a <strong>Simuladores de crerito</strong>. En el menu de la izquierda encontrara las siguientes opciones:</p>
<ul>
	<li><strong>Lineas de credito:</strong> Cree y edite sus lineas de credito.</li>
	<li><strong>Planes de pago:</strong> Consulte los detalles de los planes de pago generados por sus clientes.</li>
</ul>
<p>Recuerde que la la url por la que sus clientes podran acceder a sus lineas de credito es <a href="{{administrator.url}}" target="_blank">{{administrator.url}}</a></p>
{% endblock %}