{% extends "simucredito/admin_base.html" %}
{% block nombre_admin %}{{ administrator.nombres }} {{ administrator.apellidos }}{% endblock %}
{% block admin_id %}{% url "simucredito:logout_user" administrator.id %}{% endblock %}
{% block seccion %}Detalles del plan de pago{% endblock %}
{% block admin_home %}{% url "simucredito:admin_menu" administrator.id %}{% endblock %}
{% block lineas_credito %}{% url 'simucredito:lineas_credito' administrator.id %}{% endblock %}
{% block admin_credito%}{% url 'simucredito:admin_credito' administrator.id %}{% endblock %}
{% block admin_credito_estado %}class="active"{% endblock %}

{% block content %}
<div class="col-lg-8">
  <div class="panel panel-default">
    <div class="panel-heading">Datos del credito</div>
      <dl>
        <table class="table table-bordered table-striped">
          <tr>
            <td>
              <dt>Tipo documento</dt>
              <dd>{{ credito.tipo_documento_cliente }}</dd>
            </td>
            <td>
              <dt>Numero documento</dt>
              <dd>{{ credito.numero_documento_cliente }}</dd>
            </td>
            <td>
              <dt>Apellidos</dt>
              <dd>{{ credito.apellidos_cliente }}</dd>
            </td>
            <td>
              <dt>Nombres</dt>
              <dd>{{ credito.nombres_cliente }}</dd>
            </td>
            <td>
              <dt>Fecha nacimiento</dt>
              <dd>{{ credito.fecha_nacimiento_cliente }}</dd>
            </td>
          </tr>
          <tr>
            <td>
              <dt>Linea credito</dt>
              <dd>{{ credito.linea_credito }}</dd>
            </td>
            <td>
              <dt>Valor</dt>
              <dd>${{ credito.valor }}</dd>
            </td>
            <td>
              <dt>Numero cuotas</dt>
              <dd>{{ credito.cuotas }}</dd>
            </td>
            <td>
              <dt>Estado</dt>
              <dd>{{ credito.estado }}</dd>
            </td>
            <td>
              <dt>Nivel riesgo</dt>
              <dd>{{ credito.nivel_riesgo }}</dd>
            </td>
            <td>
              <dt>Tasa mensual</dt>
              <dd>{{ credito.tasa_interes }}%</dd>
            </td>
          </tr>
          <tr>
            <td>
              <dt>Fecha creacion</dt>
              <dd>{{ credito.fecha_creacion }}</dd>
            </td>
          </tr>
        </table>
      </dl>
  </div>
</div>

<div class="col-lg-10">
<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <tr>
    		<th>Numero cuota</th>
    		<th>Abono a capital</th>
    		<th>Interes</th>
    		<th>Cuota</th>
    		<th>Saldo</th>
    	</tr>
        {% for each_paymentplan in paymentplans %}
        <tr>
    		<td>{{ each_paymentplan.term_id }}</td>
    		<td>{{ each_paymentplan.gross_payment }}</td>
    		<td>{{ each_paymentplan.rate_value }}</td>
    		<td>{{ each_paymentplan.monthly_payment }}</td>
    		<td>{{ each_paymentplan.balance }}</td>
    	</tr>
        {% endfor %}
    </table>
  </div>
</div>
</div>
{% endblock %}