{% extends "simucredito/client_base.html" %}
{% block admin_home %}{% url "simucredito:client_menu" administrator.id %}{% endblock %}
{% block nombre_admin %}{{ cliente.nombres }} {{ cliente.apellidos }}{% endblock %}
{% block seccion %}Mis creditos{% endblock %}
{% block nuevo_credito %}{% url 'simucredito:nuevo_credito' administrator.id %}{% endblock %}
{% block buscar_credito%}{% url 'simucredito:buscar_credito' administrator.id %}{% endblock %}

{% block content %}
<div class="panel-body">
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover">
		    <tr>
				<th>Numero documento</th>
				<th>Tipo documento</th>
				<th>Apellidos</th>
				<th>Nombres</th>
				<th>Valor credito</th>
				<th>Plazos</th>
				<th>Linea</th>
				<th>Estado</th>
				<th>Nivel riesgo</th>
				<th>Fecha creacion</th>
			</tr>
		    {% for each_credit in cliente.credits %}
		    <tr>
				<td>{{ each_credit.numero_documento_cliente }}</td>
				<td>{{ each_credit.tipo_documento_cliente }}</td>
				<td>{{ each_credit.apellidos_cliente }}</td>
				<td>{{ each_credit.nombres_cliente }}</td>
				<td>${{ each_credit.valor }}</td>
				<td>{{ each_credit.cuotas }}</td>
				<td>{{ each_credit.linea_credito }}</td>
				<td>{{ each_credit.estado }}</td>
				<td>{{ each_credit.nivel_riesgo }}</td>
				<td>{{ each_credit.fecha_creacion }}</td>
				<td><a class="btn btn-default btn-block btn-primary{% if each_credit.nivel_riesgo == "No disponible" %} disabled{% endif %}" href="{% url 'simucredito:client_credito_detalles' administrator.id cliente.id each_credit.id %}">Ver detalles</a></td>
			</tr>
		    {% endfor %}
		</table>
	</div>
</div>
{% endblock %}