{% extends "simucredito/client_base.html" %}
{% block admin_home %}{% url "simucredito:client_menu" administrator.id %}{% endblock %}
{% block nombre_admin %}No registrado{% endblock %}
{% block seccion %}Bienvenido, su administrador es {{ administrator.nombres }} {{ administrator.apellidos }}{% endblock %}
{% block nuevo_credito %}{% url 'simucredito:nuevo_credito' administrator.id %}{% endblock %}
{% block buscar_credito%}{% url 'simucredito:buscar_credito' administrator.id %}{% endblock %}

{% block content %}
<h3>Consultar mis creditos</h3>
<form action="{% url 'simucredito:buscar_credito' administrator.id %}" method="post" id="credito">
{% csrf_token %}
<div class="form-group col-lg-3">
    <label>Tipo documento:</label>
    <select class="form-control" name="tipo_documento">
        {% for documenttype in documenttypes.get_document_types %}
          <option value="{{ documenttype.id }}">{{ documenttype.nombre }}</option>
        {% endfor %}
    </select><br>
    <label>Numero documento:</label>
    <input class="form-control" type="text" name="numero_documento" required/><br>
    <input class="btn btn-default btn-primary" type="submit" value="Buscar"/>
</div>
</form>
{% endblock %}