{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simuladores de credito</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "simucredito/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "simucredito/landing-page/css/landing-page.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "simucredito/landing-page/font-awesome-4.1.0/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Simuladores de credito</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="navbar-brand" href="#">Desarrollo de soluciones Cloud</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Simuladores de credito</h1>
                        <h3>Le ponemos interes a sus sueños</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="{% url 'simucredito:login_user' %}" class="btn btn-default btn-lg"><i class="fa fa-sign-in"></i> <span class="network-name">Ingresar</span></a>
                            </li>
                            <li>
                                <a href="{% url 'simucredito:nuevo_administrador' %}" class="btn btn-default btn-lg"><i class="fa fa-plus"></i> <span class="network-name">Nuevo administrador</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">¿Qué es un prestamo?</h2>
                    <p class="lead text-justify">El <strong>préstamo</strong> es un producto bancario que le permite a usted, como cliente o prestatario, recibir una determinada cantidad de dinero de una entidad de crédito, a cambio del compromiso de devolver dicha cantidad, junto con los intereses correspondientes, mediante pagos periódicos.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static "simucredito/landing-page/img/loan.png" %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">¿Qué es un crédito?</h2>
                    <p class="lead text-justify">El <strong>crédito</strong> es una operación financiera en la que una entidad financiera pone a su disposición una cantidad de dinero hasta un limite especificado en un contrato y durante un período de tiempo determinado.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static "simucredito/landing-page/img/credit.png" %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Diferencia entre crédito y préstamo</h2>
                    <p class="lead text-justify">En el <strong>préstamo</strong> la entidad financiera pone a disposición del cliente una cantidad fija y el cliente adquiere la obligación de devolver esa cantidad más unas comisiones e intereses pactados en el plazo acordado. En el <strong>crédito</strong> la entidad financiera pone a disposición del cliente, en una cuenta de crédito, el dinero que este necesite hasta una cantidad de dinero máxima.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static "simucredito/landing-page/img/credit_loan.png" %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Simuladores de credito</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                            <li>
                                <a href="{% url 'simucredito:login_user' %}" class="btn btn-default btn-lg"><i class="fa fa-sign-in"></i> <span class="network-name">Ingresar</span></a>
                            </li>
                            <li>
                                <a href="{% url 'simucredito:nuevo_administrador' %}" class="btn btn-default btn-lg"><i class="fa fa-plus"></i> <span class="network-name">Nuevo administrador</span></a>
                            </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Lorena Salamanca Rojas<br>Juan Pablo Vinchira Salazar<br>Desarrollo de soluciones Cloud<br>Universidad de los Andes - 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="{% static "simucredito/bootstrap/js/jquery-1.11.0.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "simucredito/bootstrap/js/bootstrap.min.js" %}"></script>

</body>

</html>