{% extends "simucredito/admin_base.html" %}

{% block functions %}
<script type="text/javascript">
    function eliminarLineaCredito(credit_line, url){
        if( confirm("¿Esta seguro que desea eliminar la linea de credito \"" + credit_line + "\"?\n") ){
            var form = document.getElementById("eliminar_linea_credito");
            form.action = url;
            form.submit();
        }
    }
</script>
{% endblock %}

{% block nombre_admin %}{{ administrator.nombres }} {{ administrator.apellidos }}{% endblock %}
{% block admin_id %}{% url "simucredito:logout_user" administrator.id %}{% endblock %}
{% block seccion %}Lineas de credito{% endblock %}
{% block admin_home %}{% url "simucredito:admin_menu" administrator.id %}{% endblock %}
{% block lineas_credito %}{% url 'simucredito:lineas_credito' administrator.id %}{% endblock %}
{% block admin_credito%}{% url 'simucredito:admin_credito' administrator.id %}{% endblock %}
{% block lineas_credito_estado %}class="active"{% endblock %}

{% block content %}
<form action="" method="post" id="eliminar_linea_credito">{% csrf_token %}</form>

                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="tabla_lineas_credito">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Tasa mensual</th>
                                            <th>Fecha de creacion</th>
                                            <th>Fecha de modificacion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for each_creditline in administrator.creditlines %}
                                        <tr>
                                            <td>{{ each_creditline.tipo }}</td>
                                            <td>{{ each_creditline.tasa_interes }}%</td>
                                            <td>{{ each_creditline.fecha_creacion }}</td>
                                            <td>{{ each_creditline.fecha_modificacion }}</td>
                                            <td><a class="btn btn-default btn-block btn-primary" href="{% url 'simucredito:linea_credito' administrator.id each_creditline.id %}">Editar</a></td>
                                            <td><button class="btn btn-default btn-block btn-danger" onclick="eliminarLineaCredito('{{ each_creditline.tipo }}', '{% url 'simucredito:eliminar_linea_credito' administrator.id  each_creditline.id %}')">Eliminar</button></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->

                    <div style="bottom-marging: 100px">
                        <a class="btn btn-default btn-primary" href="{% url 'simucredito:nueva_linea_credito' administrator.id %}">Nueva</a>
                    </div>
{% endblock %}