{% extends "simucredito/admin_base.html" %}
{% block nombre_admin %}{{ administrator.nombres }} {{ administrator.apellidos }}{% endblock %}
{% block admin_id %}{% url "simucredito:logout_user" administrator.id %}{% endblock %}
{% block seccion %}Editar linea de credito{% endblock %}
{% block admin_home %}{% url "simucredito:admin_menu" administrator.id %}{% endblock %}
{% block lineas_credito %}{% url 'simucredito:lineas_credito' administrator.id %}{% endblock %}
{% block admin_credito%}{% url 'simucredito:admin_credito' administrator.id %}{% endblock %}
{% block lineas_credito_estado %}class="active"{% endblock %}

{% block content %}
<form action="{% url 'simucredito:editar_linea_credito' administrator.id linea_credito.id %}" method="post" id="linea_credito">
{% csrf_token %}

<div class="form-group col-lg-3">
    <label>Linea de credito: </label> {{ linea_credito.tipo }}<br>
    <label>Numero maximo de cuotas:</label> {{ linea_credito.cuotas_maximas }}<br>
    <label>Tasa de interes:</label>
    <input class="form-control" type="number" name="tasa_interes" min="0" max="9.9" step="0.1" value="{{ linea_credito.tasa_interes }}"/><br>
    <input class="btn btn-default btn-primary" type="submit" value="Editar"/>
</div>
</form>
{% endblock %}