{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Simuladores de credito - Login</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="{% static "simucredito/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="{% static "simucredito/login/css/styles.css" %}" rel="stylesheet">
    </head>
    <body>
    <!--login modal-->
    <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="text-center">Login</h1>
          </div>
          <div class="modal-body">
              <form class="form col-md-12 center-block" method="post" action="{% url 'simucredito:autenticar' %}">
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" class="form-control input-lg" placeholder="Email" name="usuario">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control input-lg" placeholder="Password" name="password">
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-lg btn-block">Sign In</button><br>
                  <a href="{% url "simucredito:index" %}" class="btn btn-default btn-xs pull-right">Cancelar</a>
                  <span class="pull-left"><a href="{% url "simucredito:nuevo_administrador" %}">Registro</a></span>
                </div>
              </form>
          </div>
          <div class="modal-footer">
          </div>
      </div>
      </div>
    </div>
    <!-- jQuery Version 1.11.0 -->
    <script src="{% static "simucredito/bootstrap/js/jquery-1.11.0.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "simucredito/bootstrap/js/bootstrap.min.js" %}"></script>
    </body>
</html>