{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Simuladores de credito - Registro</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="{% static "simucredito/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="{% static "simucredito/login/css/styles.css" %}" rel="stylesheet">
        <link href="{% static "simucredito/login/css/bootstrap-select.min.css" %}" rel="stylesheet">
        <script type="text/javascript">
        function crear(){
            if(document.getElementById("pass1").value == document.getElementById("pass2").value){
                document.getElementById("crear_administrador").submit();
            } else {
                alert("Las contraseñas no coinciden");
            }
        }
        </script>
    </head>
    <body>
    <!--login modal-->
    <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="text-center">Nuevo administrador</h1>
          </div>
          <div class="modal-body">
              <form class="form col-md-12 center-block" method="post" action="{% url 'simucredito:crear_administrador' %}" id="crear_administrador">
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" class="form-control input-lg" placeholder="Nombres" name="nombres">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control input-lg" placeholder="Apellidos" name="apellidos">
                </div>
                <div class="form-group">
                    <select name="tipo_documento" class="selectpicker">
                        {% for document_type in document_types.get_document_types %}
                          <option value="{{ document_type.nombre }}">{{ document_type.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control input-lg" placeholder="Numero de documento" name="numero_documento">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control input-lg" placeholder="Correo electronico" name="email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control input-lg" placeholder="Contraseña" name="password" id="pass1">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control input-lg" placeholder="Confirmar contraseña" name="password" id="pass2">
                </div>
            </form>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button onclick="crear()" class="btn btn-primary btn-lg btn-block" aria-hidden="true">Crear</button><br>
                    <a href="{% url "simucredito:index" %}" class="btn btn-default btn-xs pull-right">Cancelar</a>
                    <span class="pull-left"><a href="{% url "simucredito:login_user" %}">Ingresar</a></span>
                </div>
            </div>
          </div>
          </div>
        </div>
    <!-- script references -->
            <!-- jQuery Version 1.11.0 -->
    <script src="{% static "simucredito/bootstrap/js/jquery-1.11.0.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "simucredito/bootstrap/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "simucredito/login/js/bootstrap-select.min.js" %}"></script>
    </body>
</html>

<script type="text/javascript">
function crear(){
    if(document.getElementById("pass1").value == document.getElementById("pass2").value){
        document.getElementById("crear_administrador").submit();
    } else {
        alert("La contraseña no coinciden");
    }
}
</script>
