{% extends "simucredito/client_base.html" %}
{% block functions %}
<script type="text/javascript">
function onCreditLineChange(){
    {% if administrator.creditlines %}
        var creditline_id = document.getElementById("linea_credito").value;
        var cuotas = document.getElementById("max_cuotas");
        {% for ceditline in administrator.creditlines %}
            {% if ceditline.id == administrator.first_credit_line.id %}
                if(creditline_id == {{ ceditline.id }}){
            {% else %}
                else if(creditline_id == {{ ceditline.id }}){
            {% endif %}
                    cuotas.innerHTML = "{{ ceditline.cuotas_maximas }}";
                    document.getElementById("num_cuotas").max = {{ ceditline.cuotas_maximas }};
                }
        {% endfor %}
    {% else %}
        cuotas.innerHTML = "---";
    {% endif %}
}
</script>
{% endblock %}
{% block admin_home %}{% url "simucredito:client_menu" administrator.id %}{% endblock %}
{% block nombre_admin %}No registrado{% endblock %}
{% block seccion %}Crear credito{% endblock %}
{% block nuevo_credito %}{% url 'simucredito:nuevo_credito' administrator.id %}{% endblock %}
{% block buscar_credito%}{% url 'simucredito:buscar_credito' administrator.id %}{% endblock %}

{% block content %}

<form action="{% url 'simucredito:crear_credito' administrator.id %}" method="post" id="credito">
{% csrf_token %}
<div class="form-group col-lg-3">
    <label>Tipo documento</label>
    <select class="form-control" name="tipo_documento">
        {% for documenttype in documenttypes.get_document_types %}
          <option value="{{ documenttype.id }}">{{ documenttype.nombre }}</option>
        {% endfor %}
    </select><br>
    <label>Numero documento</label>
    <input class="form-control" type="text" name="numero_documento" required/><br>
    <label>Nombres</label>
    <input class="form-control" type="text" name="nombres" required/><br>
    <label>Apellidos</label>
    <input class="form-control" type="text" name="apellidos" required/><br>
    <label>Fecha nacimiento</label>
    <input class="form-control" type="date" name="fecha_nacimiento" required/><br>
    <label>Valor credito</label>
    <input class="form-control" type="number" min=0 name="valor" required/><br>
    <label>Linea credito</label>
    <select class="form-control" name="linea_credito" id="linea_credito" onchange="onCreditLineChange()">
        {% for creditline in administrator.creditlines %}
          <option value="{{ creditline.id }}">{{ creditline.tipo }}</option>
        {% endfor %}
    </select><br>
    <label>Numero maximo de cuotas:</label><br>
    <label id="max_cuotas"></label><br>
    <label>Numero cuotas</label>
    <input class="form-control" type="number" name="cuotas" min="6" step="1" value="6" id="num_cuotas"/><br>
    <input class="btn btn-default btn-primary" type="submit" value="crear"/>
</div>
</form>

<script type="text/javascript">
onCreditLineChange();
</script>

{% endblock %}