{% extends "simucredito/admin_base.html" %}
{% block functions %}
<script type="text/javascript">
function onCreditTypeChange(){
	{% if credittypes.has_types %}
		var credittype_id = document.getElementById("creditline").value;
		var cuotas = document.getElementById("cuotas");
		{% for credittype in credittypes.get_credit_types %}
			{% if credittype.id == credittypes.first.id %}
				if(credittype_id == {{ credittype.id }}){
			{% else %}
				else if(credittype_id == {{ credittype.id }}){
			{% endif %}
					cuotas.innerHTML = "{{ credittype.cuotas_maximas }}";
				}
		{% endfor %}
	{% else %}
		cuotas.innerHTML = "---";
	{% endif %}
}
</script>
{% endblock %}
{% block nombre_admin %}{{ administrator.nombres }} {{ administrator.apellidos }}{% endblock %}
{% block admin_id %}{% url "simucredito:logout_user" administrator.id %}{% endblock %}
{% block seccion %}Nueva linea de credito{% endblock %}
{% block admin_home %}{% url "simucredito:admin_menu" administrator.id %}{% endblock %}
{% block lineas_credito %}{% url 'simucredito:lineas_credito' administrator.id %}{% endblock %}
{% block admin_credito%}{% url 'simucredito:admin_credito' administrator.id %}{% endblock %}
{% block lineas_credito_estado %}class="active"{% endblock %}

{% block content %}
<form action="{% url 'simucredito:crear_linea_credito' administrator.id %}" method="post" id="linea_credito">
{% csrf_token %}
<div class="form-group col-lg-3">
    <label>Linea de credito:</label>
    <select class="form-control" name="creditline" onchange="onCreditTypeChange()" id="creditline">
        {% for credittype in credittypes.get_credit_types %}
          <option value="{{ credittype.id }}">{{ credittype.tipo }}</option>
        {% endfor %}
    </select><br>
    <label>Numero maximo de cuotas:</label><br>
    <label id="cuotas"></label><br>
    <label>Tasa de interes:</label>
    <input class="form-control" type="number" name="tasa_interes" min="0" max="9.9" step="0.1" value="0"/><br>
    <input class="btn btn-default btn-primary" type="submit" value="Crear"/>
</div>
</form>

<script type="text/javascript">
onCreditTypeChange();
</script>
{% endblock %}